<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bundles/buzocore/css/style.css">
</head>
<body style="background-color: rgb(38,38,38)">
    <script src="/bundles/buzocore/js/ac_quicktime.js"></script>
    <script>
    QT_WriteOBJECT('{{ object.pathname }}', '100%', '95%', '', 'SCALE', 'Aspect', 'CONTROLLER', true);
    </script>
</body>
</html>
